@import "_fonts.scss";

@import "_reset.scss";


body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #343434;
	background-color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.wrapper .page {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="--margin"] {
	margin-bottom: 64px;
}

/* Секція Header*/
/* Секція Header*/
/* Секція Header*/

.header {
	padding: 16px 0 9px;

	&__inner {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 78px;
		padding: 0 75px 0 74px;

		@media (max-width: 865px) {
			padding: 0;
		}

		@media (max-width: 530px) {
			column-gap: 30px;
		}

		@media (max-width: 440px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			row-gap: 15px;
		}
	}

	&__nav {
		flex-basis: 380px;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__list {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		flex-grow: 0;
		column-gap: 64px;
		row-gap: 15px;

		@media (max-width: 991.98px) {
			column-gap: 30px;
		}
	}

	&__item {
		position: relative;

		@media (any-hover: hover) {
			&:nth-child(3):hover .phones {
				display: block;
				pointer-events: all;
			}
		}
	}

	&__link {
		font-size: 16px;
		color: #343434;

		&:focus-visible {
			outline-offset: 2px;
			outline: 1px solid #343434;
			border-radius: 5px;
		}

		&:active {
			color: #5D5D5D;
		}
	}

}

/* Бургер меню*/
/* Бургер меню*/
/* Бургер меню*/

.burger-menu {
	position: relative;
	display: none;
	width: 44px;
	height: 25px;
	flex-shrink: 0;

	span,
	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 80%;
		height: 2px;
		left: 0;
		border-radius: 2px;
		background-color: #343434;
		transition: all 0.3s;
	}

	span {
		top: 50%;
		transform: translate(0, -50%);
	}

	&::before {
		bottom: 0;
	}

	&::after {
		top: 0;
	}

	@media (max-width: 768px) {
		& {
			display: block;
		}
	}
}

.menu-open .header__nav {
	display: block;
}

/* Menu-burger при кліці на ньому*/

.menu-open .burger-menu span {
	transform: scale(0);
}

.menu-open .burger-menu::before {
	top: 50%;
	transform: rotate(-45deg);
	margin-top: -1px;
}

.menu-open .burger-menu::after {
	top: 50%;
	margin-top: -1px;
	transform: rotate(45deg);
}

/* Menu header__list при кліці на бургері*/

.menu-open .header__nav {
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 50px;
	// transform: translate(-50%, -50%);
}

.menu-open .header__list {
	flex-direction: column;

}

.phones {
	position: absolute;
	display: none;
	//  opacity: 0;
	/* display: flex; */
	/* flex-direction: column; */
	/* row-gap: 5px; */
	width: 159px;
	left: 50%;
	top: 100%;
	padding-top: 5px;
	pointer-events: none;
	transform: translateX(-50%);
	transition: all 0.3s;

	&__list {
		border-radius: 5px;
		background-color: #FFF;
		box-shadow: 0px 4px 14px 0px #0000000d;
		padding: 10px 24px;
	}

	&__item {
		a {
			font-weight: 400;
			color: #343434;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		@media (any-hover: hover) {
			&:hover a {
				text-decoration: underline;
			}
		}
	}
}

.logo {
	flex-grow: 1;

	@media (max-width: 768px) {
		flex-grow: 0;
	}

	@media (max-width: 440px) {
		justify-self: end;
	}
}

.action {
	flex-basis: 193px;
	flex-grow: 0;

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 21px;
		row-gap: 15px;
	}

	@media (max-width: 768px) {
		flex-basis: auto;
	}

	@media (max-width: 440px) {
		grid-column: span 2;
		justify-self: end;
	}

	&__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			position: absolute;
			content: "";
			border-radius: 50%;
			width: 35px;
			height: 35px;
			background-color: transparent;
			transition: background-color 0.3s;
			z-index: -1;
		}

		&:focus-visible {
			outline-offset: 5px;
			outline: 1px solid #343434;
			border-radius: 50%;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					background-color: #d2dada;
				}
			}
		}
	}
}

/* Секція Hero*/

.hero-section {
	padding-top: 98px;
	padding-bottom: 166px;

	&__container {
		position: relative;
		display: flex;
		// flex-direction: column;
		align-items: flex-start;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/* flex-basis: 767px; */
		flex-grow: 0;
		flex-shrink: 1;
		/* height: calc(100vh - 223px); */
		max-width: 767px;

		& h1 {
			font-family: Jost;
			font-size: 64px;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 4px;
		}

		& p {
			font-family: Jost;
			font-size: 20px;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 34px;
		}
	}

	&__image {
		position: absolute;
		right: 76px;
		top: 12px;
		z-index: -1;

		& img {
			width: 100%; 
			height: 100%;
			object-fit: cover;
			aspect-ratio: 440 / 339;
		}
	}	
}

.btn-shop {
	border-radius: 5px;
	background-color: #1E4646;
	padding: 13px 65px;
	transition: background-color 0.5s;

	& span {
		font-family: Jost;
		font-size: 16px;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		color: #FBFBFB;
		transition: color 0.3s;

		&:active {
			color: #343434;
		}

		&:disabled {
			border: 1px solid #AEAEAE;
			background-color: #EDF1F1;
		}
	}

	&:focus-visible {
		outline-offset: 2px;
		outline: 1px solid #343434;
		border-radius: 5px;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: #789090;
		}
	}

	&:active {
		background-color: #FBFBFB;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
	}
}

